* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  body {
    background-color: rgba(224, 224, 240, 0.676);
  }

  main {
    background-color: rgb(234, 221, 221);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(255, 0, 0, 0.301);
  }

  img.lado {
    float: right;
  }